body{
	/*background-image: url("_backgrounds/gradient_pink_2391416.jpg");*/
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
div#nav-bar{
	position: relative;
	width:100%;
	height:6%;
	/*border: solid 1px;*/
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
}

div.centered {
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
}

#title{
	position: absolute;
	color: black;
	font-family: Calibri;
	font-size: 30px;
	/*text-align: center;*/
	/*vertical-align: middle;*/
	line-height: 6%;
	left: 50%;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
}
#class_lbl{
	position: static;
	margin-top: 3%;
	margin-left: 2%;
	/*transform: translate(3%, 300%);*/
	/*-webkit-transform: translate(3%, 300%);*/
	font-family: Calibri;
	font-size: 20px;
}
#classes{
	position: static;
	border: solid;
	width: 80%;
	height: 50%;
	/*margin-top: 3%;*/
	margin-left: 2%;
	/*transform: translate(3%, 300%);*/
	
}
