body{
	overflow: hidden;
}
/*ID's*/
#main{
	position: absolute;
	/*border: solid;*/
	width: 99%;
	height: 95%;
	min-width: 900px;
	/*min-height: 100px;*/
}
#logo{
	
	/*border: solid;*/
	position: relative;
	height: 30%;
	
	/*width: 25%;*/
}
#form{
	position: relative;
	/*border: solid;*/
	/*top:0px;*/
	width: 25%;
	height: 25%;
}
#loginbutton{
	border: none;
	position: relative;
	top: 6px;
	left: 50%;
	height: 45px;
	width: 290px;
	border-radius: 3px;
	background-color: #3a89ff;
	font-size: 20px;
	font-family: Calibri;
	color: white;
	transform: translate(-50%, 0%);
	-webkit- transform: translate(-50%, 0%);
}
#create{
	position: absolute;
	top: 10px;
	right: 10px;
	height: 40px;
	width: 120px;
	border-radius: 3px;
	border: solid 1px;
	border-color: #3a89ff;
	background-color: white;
	font-family: Calibri;
	font-size: 20px;
	color: #3a89ff;										
}
#invalid{
	/*border: solid;*/
	overflow:hidden;
	border-radius: 5px;
	padding: 5px 15px;
	background: rgba(0,0,0, 0.1);
	position: absolute;
	text-align: center;
	font-family: Calibri;
	font-size: 15px;
	color: rgba(255,0,0, 1);
	bottom: 10px;
	left: 50%;
	vertical-align: bottom;
	-moz-animation:    invalid 0.3s; 
	transform: translate(-50%, 0%);
  	-webkit-transform: translate(-50%, 0%);
}

/*CLASS*/

.centered{
	position: relative;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit- transform: translate(-50%,-50%);
}
.centered-image{
	-webkit-animation: fadeIn 2s; 
	-moz-animation:    fadeIn 2s; 
	-o-animation:      fadeIn 2s; 
	animation:         fadeIn 2s;
	position: relative;
	top: 40%;
	left: 50%;
	width:300px;
	transform: translate(-50%,-50%);
	-webkit- transform: translate(-50%,-50%);
}
.emailtextbox{
	border: solid 1px;
	left: 50%;
	/*border-bottom: none;*/
	border-color: rgba(0,0,0, 0.5); 
	position: relative;
	height: 45px;
	width: 290px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	font-family: Calibri;
	font-size: 20px;
	font-weight: normal;
	color:  rgba(0,0,0, 0.5);
	padding-left: 7px;
	transform: translate(-50%, 0%);
	-webkit- transform: translate(-50%, 0%);
}
.passtextbox{
	border: solid 1px;
	left: 50%;
	border-color: rgba(0,0,0, 0.5); 
	position: relative;
	height: 45px;
	width: 290px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	font-family: Calibri;
	font-size: 20px;
	font-weight: normal;
	color: rgba(0,0,0, 0.5);
	padding-left: 7px;
	transform: translate(-50%, 0%);
	-webkit- transform: translate(-50%, 0%);
}

/*ANIMATIONS*/

/*FADE IN*/
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*POSITION*/
@-webkit-keyframes invalid {
    from {bottom: -50px;}
    to {bottom: 10px;}
}
@-moz-keyframes invalid {
    from {bottom: -50px;}
    to {bottom: 10px;}
}
@keyframes invalid {
    from {bottom: -50px;}
    to {bottom: 10px;}
}